/* 以下、PC用スタイル */
/* PC用ヘッダー */
@media screen and (min-width: 768px) {

  body {
    max-width: 1080px;
    min-width: 960px;
    margin: 0 auto;
  }

header {
  display: flex;
  justify-content: space-between;
  margin: 0 180px;
}

  h1 {
    font-size: 34px;
    color: rgba(0, 0, 0, 1);
    margin: 20px -20px;
    padding: 5px 30px;
    border: solid;
  }

  #navi-pc {
    font-size: 34px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    margin-top: 20px;
    padding-top: 10px;
  }

  #navi-pc>a {
    text-decoration: none;
    margin: 0 10px;
  }

  #navi-pc>a:link {
    color: rgba(0, 0, 0, 1);
  }

  #navi-pc>a:visited {
    color: rgba(0, 0, 0, 1);
  }

  #navi-pc>a:active {
    color: rgba(0, 0, 0, 1);
  }

  #navi-pc>a:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
  }

  #main-visual>img {
    width: 100%;
  }
  
  .main-content {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    margin: 30px 0 0 0;
  }

  #profile-div {
    display: flex;
    justify-content: center;
    }

  #profile-img {
    width: 142px;
    height: 142px;
    border-radius: 50%;
    margin-top: 30px;
  }

  h3 {
    font-size: 24px;
    margin: 20px 0 10px 0;
  }

  p {
    font-size: 18px;
  }

  #profile-details {
  margin-left: 50px;

  }

  #about-me {
    margin-top: 0;
    padding: 5px 0 0 40px;
  }

  .works-img {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .works-img li {
    width: 30%;
    list-style-type: none;
  }
  
  .works-img img {
    width: 100%;
  }

}
